#conteneur{
width: 90%;
height: 90%;
margin-left: 5%;
margin-top: 5%;
box-shadow: 0 4px  30px black;
/*border: 1px solid black;*/
}
.header{
    width: 100%;
    height: 16%;
    /*border: 1px solid black;*/
    background-color:rgb(55, 160, 247);
}
.titre{
    width: 50%;
    height: 110px;
    float: right;
    font-size: 50px;
    margin-top: 2px;
}
.header_img{
    width: 40%;
    height:155px;

}
.navigation{
    width: 100%;
    height: 30px;
    /*border: 1px solid black;*/
    background-color: blue;
    margin-top: 0px;
       
}
.navigation a {
    text-decoration:none;
    margin-left: 45px;
    margin-top: 3px;
}
.navigation a:hover{
 background-color: rgb(4 5 2 6 8 );
}
.navigation a:active{
    background-color: yellow;
    text-decoration: underline;
}
.barre_recherche{
 float: right;
 margin-right: 15px;
 margin-top: 2px;
}
.bouton{
float: right;
margin-right: 15px;
margin-top: 3px;
background-color: blue;
cursor: pointer;
}
.image{
    width: 100%;
    height: 30%;
    /*border: 1px solid black;*/
    margin-top: 0;
}
.fond{
    width: 100%;
    height: 100%;
}
.description{
    width: 60%;
    height: 50%;
    /*border: 1px solid black;*/
    margin-left: 20%;
    padding: 10px;
}
.footer{
    width: 62%;
    height: 30%;
    margin-left: 20%;
    background-color: rgb(9, 9, 39);
    /*border: 1px solid black;*/
}
.dessin{
    width:150px;
    height: 100px;
    margin-left: 5%;
    margin-top: 10px;
}
